/* declaration de la Classe Grand-titre */
	.grand-titre{
		background-color: #0080ff; 
		color: #FFFFFF;
		padding: 10px 5px;
		font-size: 24px;
	}
/* declaration de l'Id Description-ville */
	h2#description-ville{
		margin:10px 0;
		text-transform: uppercase;
		color: #408405;
		border: 2px solid #408405;
		border-left-width: 10px;
		border-right-width: 10px;
	}
/*Forçage CSS*/
	#description-ville{
		margin: 40px 0 !important;
	}
/* declaration de l'Id logo */
	#logo{

	}
/* declaration de la Class section */
	.section{

	}
/* declaration de la Class footer */
	.footer{

	}
	body{
		font-family: 'Roboto', sans-serif;
		text-align: center;
		background: url("../images/Back.jpg") no-repeat fixed center center
		background-size: 100% 100%;
		
		background-image: url("../images/Back.jpg");
		background-repeat: no-repeat; ;
		background-attachment: fixed; ;
		background-position: center center ;
		

	}

/* declaration de l'Id liens-utiles */
	#liens-utiles{
		margin: 20px 0 0 0;
	}

/*declaration de la class container*/
	.container{
		width: 400px;
		margin: 0 auto; /*centrer une div*/
	}

/*declaration id banniere*/
	#banniere{
		width: 100%;
        border-radius: 5px;


        -webkit-border-radius: 5px;/*pour chrome*/
        -moz-border-radius: 5px;/*pour mozila*/
        -ms-border-radius: 5px;/*pour explorer*/
	}

	a{
		text-decoration: none;
		font-weight: bold;
	}
	
	#list-services{
		list-style: square;
	}

	.formulaire{
		border: 2px solid #000;
		border-radius: 5px;
		background-color: #FFFFFF;
		padding: 40px;
		padding-bottom: 60px;

	}
	sup{
		color :#cc0000;
	}

	#lien{
		text-decoration: underline;
		color: #ff9900;
	}

	.texte1{
		width: 100%;
	}

	.texte{
		text-align: left;
		margin-top: 30px;
		

	}
	label{
		
	}
	#boutton{
		margin-top: 30px;
		background-color: #ff9900;
		padding-bottom: 5px;
		width: 100%;
	}
	#Bouttons{
	 margin-top: 20px;
	}